details{
  summary {
    list-style: none;
    display: flex;
    justify-content:space-between;
    align-items:center;
    display: flex;
    padding: 12px 0px;
    color: var(--dark-dark, #282828);
    font-family: "Unimed Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 23.4px */
    gap: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    &:hover{
      color: #00804D;
    }
  }

  &[open] {
    summary{
      .arrow-ac{
         transform: rotate(180deg);
      }
    }
  }

  .container-itens{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .content-itens{
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 8px;
      border: 1px solid var(--light-light-d-1, #E2E4EA);
      background: var(--light-white, #FFF);
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
      gap: 8px;
      &:hover{
        border-color: #00995C;
        cursor: pointer;
        .ver-mais{

          button{
            color: #00995C
          }
        }
      }

      .guia{
        color: var(--secondary-secondary, #4D4D4D);
        font-family: "Unimed Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
        b{
          color: var(--primary-primary-d-1, #00804D);
          font-family: "Unimed Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 19.2px */
        }
      }

      .especialidade{
        color: var(--dark-dark-l-2, #404040);
        font-family: "Unimed Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 4px;
        b{
          color: var(--dark-dark-l-2, #404040);
          font-family: "Unimed Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }

      }

      .ver-mais{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .data-atendimento{
          color: var(--dark-dark-l-2, #404040);
          font-family: "Unimed Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          white-space: nowrap;

          b{
            font-weight: 700;
          }
        }

        button{
          background: none;
          border: none;
          display: flex;
          align-items: center;
          color: var(--secondary-secondary, #4D4D4D);
          font-family: "Unimed Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%; /* 14px */
          white-space: nowrap;
        }
      }

      @media (max-width: 767.98px) {
        gap: 8px;
        padding: 16px;
        flex-wrap: wrap;
        .especialidade{
          flex-wrap: wrap;
          svg{
            display: none;
          }
        }
        
      }

      @media (max-width: 360.98px) {
        gap: 8px;
        padding: 16px;
        .especialidade{
          flex-wrap: wrap;
          svg{
            display: none;
          }
        }
        .ver-mais{
          flex-direction: column;
          flex-wrap: wrap;
          gap: 23px;
        }
      }
    }
  }
}