@import "./select.css";
@import "./class.css";

@font-face {
  font-family: "Unimed Slab";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/unimedslab-bold-webfont.woff2") format("woff2"),
    url("../fonts/unimedslab-bold-webfont.woff") format("woff"),
    url("../fonts/unimedslab-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Unimed Slab";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/unimedslab-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/unimedslab-bolditalic-webfont.woff") format("woff"),
    url("../fonts/unimedslab-bolditalic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Unimed Slab";
  font-style: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/unimedslab-regular-webfont.woff2") format("woff2"),
    url("../fonts/unimedslab-regular-webfont.woff") format("woff"),
    url("../fonts/unimedslab-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Unimed Slab";
  font-style: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/unimedslab-regularitalic-webfont.woff2") format("woff2"),
    url("../fonts/unimedslab-regularitalic-webfont.woff") format("woff"),
    url("../fonts/unimedslab-regularitalic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Unimed Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/unimedsans-regular-webfont.woff2") format("woff2"),
    url("../fonts/unimedsans-regular-webfont.woff") format("woff"),
    url("../fonts/unimedsans-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Unimed Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/unimedsans-regularitalic-webfont.woff2") format("woff2"),
    url("../fonts/unimedsans-regularitalic-webfont.woff") format("woff"),
    url("../fonts/unimedsans-regularitalic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Unimed Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/unimedsans-bold-webfont.woff2") format("woff2"),
    url("../fonts/unimedsans-bold-webfont.woff") format("woff"),
    url("../fonts/unimedsans-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Unimed Sans";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/unimedsans-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/unimedsans-bolditalic.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Unimed Sans";
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 35px;
  background: var(--texto-menor-importncia, #808080);
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.loading-spinner {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 4px solid #ccc;
  margin: 12px 120px;
  border-left-color: #b1d34b;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.date-picker {
  .form-control {
    height: 42px;
  }

  .input-group-inset-item {
    background-color: white;
    border-radius: 0px 8px 8px 0px;
    border-color: var(--secondary-secondary-l-2, #c4c4c4);
  }
}
.date-picker .date-picker-dropdown-toggle {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%235f6368'%3E%3Cpath d='M216-96q-29.7 0-50.85-21.5Q144-139 144-168v-528q0-29 21.15-50.5T216-768h72v-96h72v96h240v-96h72v96h72q29.7 0 50.85 21.5Q816-725 816-696v528q0 29-21.15 50.5T744-96H216Zm0-72h528v-360H216v360Zm0-432h528v-96H216v96Zm0 0v-96 96Zm264.21 216q-15.21 0-25.71-10.29t-10.5-25.5q0-15.21 10.29-25.71t25.5-10.5q15.21 0 25.71 10.29t10.5 25.5q0 15.21-10.29 25.71t-25.5 10.5Zm-156 0q-15.21 0-25.71-10.29t-10.5-25.5q0-15.21 10.29-25.71t25.5-10.5q15.21 0 25.71 10.29t10.5 25.5q0 15.21-10.29 25.71t-25.5 10.5Zm312 0q-15.21 0-25.71-10.29t-10.5-25.5q0-15.21 10.29-25.71t25.5-10.5q15.21 0 25.71 10.29t10.5 25.5q0 15.21-10.29 25.71t-25.5 10.5Zm-156 144q-15.21 0-25.71-10.29t-10.5-25.5q0-15.21 10.29-25.71t25.5-10.5q15.21 0 25.71 10.29t10.5 25.5q0 15.21-10.29 25.71t-25.5 10.5Zm-156 0q-15.21 0-25.71-10.29t-10.5-25.5q0-15.21 10.29-25.71t25.5-10.5q15.21 0 25.71 10.29t10.5 25.5q0 15.21-10.29 25.71t-25.5 10.5Zm312 0q-15.21 0-25.71-10.29t-10.5-25.5q0-15.21 10.29-25.71t25.5-10.5q15.21 0 25.71 10.29t10.5 25.5q0 15.21-10.29 25.71t-25.5 10.5Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  height: 39px;
}

.date-picker-calendar-header .date-picker-nav-item {
  .lexicon-icon-angle-left {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><mask id="mask0_171_2434" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="3" y="1" width="8" height="15"><path d="M3.23132 9.01953L9.60847 15.265C10.3515 15.9788 11.5055 14.9065 10.7498 14.1772L4.9671 8.50036L10.753 2.81733C11.5087 2.10038 10.3578 1.02188 9.61479 1.73264L3.23132 7.98119C2.93728 8.26859 2.90883 8.7105 3.23132 9.01953Z" fill="%236B6C7E"/></mask><g mask="url(%23mask0_171_2434)"><rect y="0.5" width="16" height="16" fill="%23808080"/></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
  }

  .lexicon-icon-angle-right {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><mask id="mask0_171_2444" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="1" width="8" height="15"><path d="M12.7687 7.98052L6.38553 1.73262C5.6394 1.02192 4.49176 2.10032 5.24737 2.81719L11.033 8.49964L5.25053 14.179C4.49176 14.9051 5.64572 15.9774 6.39185 15.2667L12.7687 9.02184C13.0912 8.70976 13.0627 8.26789 12.7687 7.98052Z" fill="%236B6C7E"/></mask><g mask="url(%23mask0_171_2444)"><rect y="0.5" width="16" height="16" fill="%23808080"/></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
  }

  .lexicon-icon-simple-circle {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="%235f6368"><path d="M360-300q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.date-picker-nav .input-date-picker-year button {
  background-color: white;
  border: none;
  width: 76px;
  text-align: left;
  font-weight: 600;
}
