body:has(.un-date-picker) > div .date-picker-calendar {
  .date-picker-date.date-picker-calendar-item {
    &:hover {
      background-color: #e2f4ed !important;
      color: #00995c !important;
    }
  }

  .date-picker-col[aria-selected='true'] {
    .active {
      background-color: #00995c;
      color: #fff !important;
      &:hover {
        background-color: #00995c !important;
        color: #fff !important;
      }
    }
  }
}
