.card-container {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--light-light-d-1, #e2e4ea);
  background: var(--light-white, #fff);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
}
