.content {
  .content-pdf {
    .header {
      .title-container {
        .title {
          color: var(--dark-dark-d-1, #151515);
          font-family: 'Unimed Slab';
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .info-date {
          color: var(--danger-danger, #da1414);
          font-family: 'Unimed Sans';
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

          &::before {
            content: '\e000';
            font-family: 'Material Symbols Outlined';
            font-size: 16px;
            font-weight: normal;
            display: flex;
          }
        }
      }
      .infos-filtro {
        padding: 12px;
        border-radius: 8px;
        border: 1px solid var(--light-light-d-2, #d3d6e0);
        .field {
          display: flex;
          gap: 4px;
          .title {
            color: var(--dark-dark, #282828);
            font-family: 'Unimed Sans';
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .text {
            color: var(--dark-dark, #282828);
            font-family: 'Unimed Sans';
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
    .lista {
      gap: 8px;

      .item {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;

        .nome {
          color: var(--dark-dark, #282828);
          font-family: 'Unimed Sans';
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 130%; /* 15.6px */
        }
        .endereco {
          color: var(--dark-dark-l-2, #404040);
          text-overflow: ellipsis;
          font-family: 'Unimed Sans';
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          &::before {
            content: '\e0c8';
            font-family: 'Material Symbols Outlined';
            font-size: 16px;
            font-weight: normal;
            display: flex;
          }
        }

        .telefone {
          color: var(--dark-dark-l-2, #404040);
          text-overflow: ellipsis;
          font-family: 'Unimed Sans';
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          &::before {
            content: '\e0b0';
            font-family: 'Material Symbols Outlined';
            font-size: 16px;
            font-weight: normal;
            display: flex;
          }
        }
      }
    }
  }

  .no-break {
    page-break-inside: avoid;
  }
}
@media print {
  @page {
    margin: 12.7mm;
    size: A4;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
  }
  .page-number {
    content: counter(page); // O número da página será gerado dinamicamente
  }
  .content {
    page-break-after: always;
  }
}
