.container-edit-dados {
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 100%;

  .endereco-residencial-edit-limpar-form {
    height: 100px;
    width: 48.6%;
    font-family: Unimed Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    .material-symbols-outlined{
      font-size: 20px;
    }
    div {
      cursor: pointer;
    }

    span {
      white-space: nowrap;
    }
  }

  .endereco-residencial-edit-container-arquivos {
    min-height: 50px;
    display: flex;

    .material-symbols-outlined {
      background: #F7F8F9;
      top: 6px;
      font-size: 18px;
    }

    .material-symbols-outlined:first-child {
      color: #4D4D4D;
      left: 10px;
    }

    .material-symbols-outlined:last-child {
      right: 10px;
    }

    .endereco-residencial-edit-container-arquivo {
      align-items: center;
      width: 240px;
      height: 34px;
      padding: 8px;
      gap: 30px;
      border-radius: 16px;
      background: #F7F8F9;

      .endereco-residencial-edit-container-nome-do-arquivo {
        font-family: Unimed Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: #4D4D4D;
        white-space: nowrap;
        overflow: hidden;
        z-index: 1;
        margin-left: 29px;
        max-width: 140px;
        overflow: hidden;
      }

    }

  }


  @media (max-width: 500.98px) {
    .endereco-residencial-edit-container-cep {
      flex-wrap: wrap !important;
    }

    .endereco-residencial-edit-limpar-form {
      width: 100%;
      height: 30px;
      justify-content: center;
    }
    .endereco-residencial-edit-container-arquivo{
      width: 100% !important;
    }
    .endereco-residencial-edit-container-arquivos{
      flex-direction: column;
    }
  }


  span {
    line-height: normal;
    font-style: normal;
  }

  .header-edit {
    display: flex;
    flex-direction: column;

    .title {
      color: #282828;
      font-family: "Unimed Slab";
      font-size: 28px;
      font-weight: 700;
    }

    .info {
      display: flex;
      justify-content: flex-end;
      color: var(--secondary-secondary-l-1, #808080);
      font-family: "Unimed Sans";
      font-size: 12px;
      font-weight: 400;
    }

    @media (max-width: 412.98px) {
      gap: 32px;

      .title {
        color: #282828;
        font-size: 20px;
      }

      .info {
        justify-content: start;
      }
    }
  }

  .content-form {
    overflow: auto;
    display: flex;
    height: 100%;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 62.4375rem;
      background: var(--secondary-secondary-l-1, #808080);
    }

    .actions {
      display: flex;
      flex: 1;
      gap: 24px;
      flex-wrap: wrap;
      align-items: end;
      justify-content: end;

      button {
        border: none;
        display: flex;
        padding: 16px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
        border-radius: 4px;
        color: #fff;
        font-family: "Unimed Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        /* 100% */
        text-transform: uppercase;
      }

      .btn-salvar {
        background: var(--primary-primary, #00995c);
      }

      .btn-cancelar {
        border: 1px solid var(--secondary-secondary-l-2, #c4c4c4);
        background: var(--light-white, #fff);
        color: var(--secondary-secondary, #4d4d4d);
      }

      @media (max-width: 493.98px) {
        flex-direction: column;

        button {
          width: 100%;
        }
      }
    }
  }
}